@import "tailwindcss";

@plugin './hero.ts';
/* Note: You may need to change the path to fit your project structure */
@source '../../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';
@custom-variant dark (&:is(.dark *));

@theme {
  --color-sand-200: #FBEDDA;
  --color-sand-300: #ECD2B0;
}

body {
  font-family: Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
}
